:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

html {
  background-color: #FAFAFA;
  background-image: url("../src/assets/images/brouillon.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 100% 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}


#game_infos 
{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: space-between;
}

#jauges 
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

#main 
{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
}

#left_side, #right_side
{
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
  border-radius: 20px;
  background-color: #FAFAFA;
  margin-top: 10%;
}

#left_side 
{
  margin-right: 25%;
  width: 20%;
}

#photo 
{
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
  object-fit: cover;
}

h2,h3 
{
  margin-left: 10px;
}

preloader {
  display: inline-block;
  font-size: 0px;
  padding: 0px;
}
.preloader span {
  vertical-align: middle;
  border-radius: 100%;
  border: 1px solid #000;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px 5px;
  -webkit-animation: preloader 0.8s linear infinite alternate;
  animation: preloader 0.8s linear infinite alternate;
}

.black {
 background-color: #000;
}


.preloader span:nth-child(1) {
  -webkit-animation-delay:-0.99;
  animation-delay:-0.99s;
}
.preloader span:nth-child(2) {
  -webkit-animation-delay: -0.69s;
  animation-delay: -0.69s;
}
.preloader span:nth-child(3) {
  -webkit-animation-delay: -0.39s;
  animation-delay: -0.39s;
}
@keyframes preloader {
  from {transform: scale(0, 0);}
  to {transform: scale(1, 1);}
}
@-webkit-keyframes preloader {
  from {-webkit-transform: scale(0, 0);}
  to {-webkit-transform: scale(1, 1);}
}

#rules, #informations 
{
  border: 1px solid black;
}