@import url("./App.css") print;

  
  .paramTxt {
    font-family: 'Montserrat', sans-serif;
    font-size : 1em;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .progress {
    background: rgb(163, 162, 162);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 30px;
    width: 100%;
  }
  
  .texte-jauge{
    margin: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  
  .progress-value {
    color:white;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding-left: .5rem;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 50px;
    background: rgb(71, 71, 255);
    height: 25px;
  }
  